<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="admin" class="com.xwin.domain.admin.Admin">  
		<property name="SITE_GRADE" value="10"/> 
	</bean>
		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">  
		<property name="basenames">  
			<list>  
				<value>message</value>  
				<value>message</value>  
			</list>  
		</property>  
	</bean>	
		    
	<bean id="munjaBadaConnector" class="com.xwin.infra.sms.MunjaBadaConnector">
		<property name="userId" value="qnwkdhkd"/>
		<property name="password" value="tnqkr79"/>
		<property name="returnUrl" value="apple-v.net/munja.aspx"/>
	</bean>	
			    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao">
		<property name="getUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01026688246&LogTime=20091111105749&ClientIP=125.152.12.25&MagicN_Id=cmxmanJsZGtRazc=&ALevel=2&boxType=1&pagesize=20&curpage=1]]></value>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01074407954&LogTime=20090824110009&ClientIP=123.229.141.66&MagicN_Id=ZGxhd2xzeGty=&ALevel=2&boxType=1&pagesize=20&curpage=1]]></value>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01029773490&LogTime=20090421112004&ClientIP=123.228.71.220&MagicN_Id=cWtyZ284MzE=&ALevel=2&boxType=1&pagesize=20&curpage=1]]></value>
			</list>
		</property>
		<property name="delUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01026688246&LogTime=20091111105749&ClientIP=125.152.12.25&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01074407954&LogTime=20090824110009&ClientIP=123.229.141.66&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01029773490&LogTime=20090421112004&ClientIP=123.228.71.220&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
			</list>
		</property>
	</bean>
</beans>