A  {
	font-size : 11px;
	font-family : Arial, Verdana, Geneva;
	text-decoration : none;
	font-weight : normal;
	color : #1D4D7C;}

A:Visited  {
	font-size : 11px;
	font-family : Arial, Verdana, Geneva;
	text-decoration : none;
	font-weight : normal;
	color : #1D4D7C;}

A:Active  {
	font-size : 11px;
	font-family : Arial, Verdana, Geneva;
	text-decoration : none;
	font-weight : normal;
	color : crimson;}

A:Hover  {
	font-size : 11px;
	font-family : Arial, Verdana, Geneva;
	text-decoration : underline;
	font-weight : normal;
	color : #3300CC;}
	
.LinkFooter  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Visited  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Active  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Hover  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #F7D755;}

BODY, TR, TD, P, INPUT, TEXTAREA, SELECT  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	color : #1D4D7C;}

.TextSmall {
	font-size : 10px;
	font-family : Verdana, Arial, Geneva;
	color : #1D4D7C;}
	
.TextFooter {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}
	
HR  {
	height : 1px; 
	color : #333333;}
