.default {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
.a1 {
	FONT-SIZE: 9pt; COLOR: #e10000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #e10000; TEXT-DECORATION: none
}
