BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 20px; COLOR: #ffffff; MARGIN-RIGHT: 0px; FONT-FAMILY: µ¸¿ò
}
TABLE {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
TD {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
DIV {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
FORM {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
CENTER {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
PRE {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
BLOCKQUOTE {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: µ¸¿ò
}
UNKNOWN {
	BORDER-RIGHT: #98b5b7 1px solid; BORDER-TOP: #98b5b7 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #98b5b7 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #98b5b7 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #00525c
}
.btn1 {
	BORDER-RIGHT: #ba8b00 1px solid; BORDER-TOP: #ba8b00 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #ba8b00 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #ba8b00 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #dba300
}
.btn2 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #98b5b7
}
.btn3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: hand; COLOR: #ffffff; HEIGHT: 20px; BACKGROUND-COLOR: #98b5b7; BORDER-WEIGHT: 1
}
.btn4 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #90d133
}
.btn5 {
	BORDER-RIGHT: #b966ff 1px solid; BORDER-TOP: #b966ff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #b966ff 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #b966ff 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #333333
}
.btn6 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #ffc700; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #333333
}
.btn7 {
	BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #484848 1px solid; CURSOR: hand; COLOR: #afafaf; BORDER-BOTTOM: #484848 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #333333
}
.btn8 {
	BORDER-RIGHT: #313431 1px solid; BORDER-TOP: #313431 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #313431 1px solid; CURSOR: hand; COLOR: #afafaf; BORDER-BOTTOM: #313431 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #101410
}
.btn9 {
	BORDER-RIGHT: #313431 1px solid; BORDER-TOP: #313431 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #313431 1px solid; CURSOR: hand; COLOR: #afafaf; BORDER-BOTTOM: #313431 1px solid; BACKGROUND-COLOR: #101410
}
.btn10 {
	BORDER-RIGHT: #8c928c 1px solid; BORDER-TOP: #8c928c 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #8c928c 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #8c928c 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #525552
}
.btn11 {
	BORDER-RIGHT: #a5aaa5 1px solid; BORDER-TOP: #a5aaa5 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #a5aaa5 1px solid; WIDTH: 100px; CURSOR: hand; COLOR: #ffc700; BORDER-BOTTOM: #a5aaa5 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #4a494a
}
.btn12 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 100px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #ff5100
}
.btn13 {
	BORDER-RIGHT: #a5aaa5 1px solid; BORDER-TOP: #a5aaa5 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #a5aaa5 1px solid; WIDTH: 100px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #a5aaa5 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #4a494a
}
.input {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f2f8fb
}
.input1 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #ffffff
}
.input2 {
	BORDER-RIGHT: #bdbebd 1px solid; BORDER-TOP: #bdbebd 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #bdbebd 1px solid; COLOR: #585858; BORDER-BOTTOM: #bdbebd 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f7f7f7
}
.input3 {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #585858; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: "µ¸¿ò"; HEIGHT: 18px; BACKGROUND-COLOR: #f0f0f0
}
.input4 {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #585858; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f0f0f0
}
.input5 {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #bababa 1px solid; COLOR: #000000; BORDER-BOTTOM: #bababa 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #ffffff
}
.input6 {
	BORDER-RIGHT: #bdbebd 1px solid; BORDER-TOP: #bdbebd 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #bdbebd 1px solid; COLOR: #000000; BORDER-BOTTOM: #bdbebd 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f7f7f7
}
.input7 {
	FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f7f7f7
}
.input8 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #ffffff
}
.input9 {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #efefef 1px solid; COLOR: #000000; BORDER-BOTTOM: #5f9f27 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #ffffff
}
.input10 {
	BORDER-RIGHT: #c57373 1px solid; BORDER-TOP: #c57373 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #c57373 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #c57373 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #5a0808
}
.input11 {
	BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #484848 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #484848 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #333333
}
.input14 {
	BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #484848 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #484848 1px solid; FONT-FAMILY: "µ¸¿ò"; HEIGHT: 22px; BACKGROUND-COLOR: #333333
}
.select {
	BACKGROUND: #cec5de; FONT: 9pt "µ¸¿ò"; COLOR: #000000
}
.select1 {
	BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; BORDER-LEFT: #484848 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #484848 1px solid; BACKGROUND-COLOR: #000000
}
.select2 {
	LEFT: -1px; POSITION: absolute; TOP: -1px
}
.tbboard {
	BORDER-RIGHT: #afccce 5px outset; BORDER-TOP: #afccce 5px outset; BORDER-LEFT: #afccce 5px outset; BORDER-BOTTOM: #afccce 5px outset
}
.tbboard1 {
	BORDER-RIGHT: #74a6ab 5px outset; BORDER-TOP: #74a6ab 5px outset; BORDER-LEFT: #74a6ab 5px outset; BORDER-BOTTOM: #74a6ab 5px outset
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TEXTAREA {
	BORDER-RIGHT: #bdbebd 1px solid; BORDER-TOP: #bdbebd 1px solid; BORDER-LEFT: #bdbebd 1px solid; BORDER-BOTTOM: #bdbebd 1px solid; BACKGROUND-COLOR: #333333
}
.textarea1 {
	BORDER-RIGHT: #bdbebd 1px solid; BORDER-TOP: #bdbebd 1px solid; BORDER-LEFT: #bdbebd 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #bdbebd 1px solid; BACKGROUND-COLOR: #333333
}
.textarea2 {
	BORDER-RIGHT: #8c928c 1px solid; BORDER-TOP: #8c928c 1px solid; BORDER-LEFT: #8c928c 1px solid; BORDER-BOTTOM: #8c928c 1px solid; BACKGROUND-COLOR: #8c928c
}
