<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="admin" class="com.xwin.domain.admin.Admin">  
		<property name="SITE_GRADE" value="10"/> 
	</bean>
		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">  
		<property name="basenames">  
			<list>  
				<value>message</value>  
				<value>message</value>  
			</list>  
		</property>  
	</bean>	
		    
	<bean id="munjaBadaConnector" class="com.xwin.infra.sms.MunjaBadaConnector">
		<property name="userId" value="qnwkdhkd"/>
		<property name="password" value="tnqkr79"/>
		<property name="returnUrl" value="apple-v.net/munja.aspx"/>
	</bean>
	
	<bean id="showSmsConnector" class="com.xwin.infra.sms.ShowSmsConnector"
		p:showSmsDao-ref="showSmsDao"/>
			    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao">
		<property name="getUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01042831800&LogTime=20100211073238&ClientIP=125.152.12.77&MagicN_Id=ZGxybXNnbWwy&ALevel=2&boxType=1&pagesize=20&curpage=1]]></value>
			</list>
		</property>
		<property name="delUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01042831800&LogTime=20100211073238&ClientIP=125.152.12.77&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
			</list>
		</property>
		<property name="emptyUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Folder_Empty.asp?UserTel=01042831800&LogTime=20100211073238&ClientIP=125.152.12.77&ALevel=1&Msgbox_id=&Folder=1]]></value>
			</list>
		</property>
	</bean>
</beans>