<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="adminIndexController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="admin/admin_login"/>
	
	<bean id="testController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="admin/test"/>
	
	<bean id="munjaBadaResponse"
		class="com.xwin.web.controller.infra.MunjaBadaResponse"
		p:adminDao-ref="adminDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminLoginController"
		class="com.xwin.web.controller.admin.AdminLoginController"
		p:memberDao-ref="memberDao"
		p:boardDao-ref="boardDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:accessDao-ref="accessDao"
		p:otpLogDao-ref="otpLogDao"
		p:sendSmsConnector-ref="munjaBadaConnector"
		p:methodNameResolver-ref="controllerNameResolver"
	>
		<property name="authPhone">
			<map>
				<entry key="r" value="0100000000"/>
				<entry key="g" value="0100000001"/>
				<entry key="9" value="0100000002"/>
				<entry key="p" value="0100000003"/>
				<entry key="e" value="0100000004"/>
			</map>
		</property>
	</bean>
		
	<bean id="adminMainController"
		class="com.xwin.web.controller.admin.AdminMainController"
		p:memberDao-ref="memberDao"
		p:gameDao-ref="gameDao"
		p:bettingDao-ref="bettingDao"
		p:boardDao-ref="boardDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:methodNameResolver-ref="controllerNameResolver"/>	
		
	<bean id="adminInfoController"
		class="com.xwin.web.controller.admin.AdminInfoController"
		p:memberDao-ref="memberDao"
		p:adminDao-ref="adminDao"
		p:methodNameResolver-ref="controllerNameResolver"/>	
	
	<bean id="adminMemberController"
		class="com.xwin.web.controller.admin.AdminMemberController"
		p:memberDao-ref="memberDao"
		p:accessDao-ref="accessDao"
		p:accountDao-ref="accountDao"
		p:memoDao-ref="memoDao"
		p:bankBookDao-ref="bankBookDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:invitationDao-ref="invitationDao"
		p:smsWaitDao-ref="smsWaitDao"
		p:bettingDao-ref="bettingDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="adminAccountController"
		class="com.xwin.web.controller.admin.AdminAccountController"
		p:accountDao-ref="accountDao"
		p:pointDao-ref="pointDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:moneyInOutDao-ref="moneyInOutDao"
		p:memberDao-ref="memberDao"
		p:smsWaitDao-ref="smsWaitDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminLeagueController"
		class="com.xwin.web.controller.admin.AdminLeagueController"
		p:leagueDao-ref="leagueDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminGameController"
		class="com.xwin.web.controller.admin.AdminGameController"
		p:gameDao-ref="gameDao"
		p:bettingDao-ref="bettingDao"
		p:betGameDao-ref="betGameDao"
		p:leagueDao-ref="leagueDao"
		p:memberDao-ref="memberDao"
		p:processService-ref="processService"
		p:smsWaitDao-ref="smsWaitDao"
		p:accountDao-ref="accountDao"
		p:gameSyncService-ref="gameSyncService"
		p:methodNameResolver-ref="controllerNameResolver"/>
					
	<bean id="adminController"
		class="com.xwin.web.controller.admin.AdminController"
		p:memberDao-ref="memberDao"
		p:boardDao-ref="boardDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:adminDao-ref="adminDao"
		p:bankBookDao-ref="bankBookDao"
		p:hackingLogDao-ref="hackingLogDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="adminBettingController"
		class="com.xwin.web.controller.admin.AdminBettingController"
		p:bettingDao-ref="bettingDao"
		p:betGameDao-ref="betGameDao"
		p:memberDao-ref="memberDao"
		p:accountDao-ref="accountDao"
		p:processService-ref="processService"
		p:leagueDao-ref="leagueDao"
		p:gameDao-ref="gameDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminSmsController"
		class="com.xwin.web.controller.admin.AdminSmsController"
		p:memberDao-ref="memberDao"
		p:smsWaitDao-ref="smsWaitDao"
		p:sendSmsConnector-ref="munjaBadaConnector"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="adminQnaController"
		class="com.xwin.web.controller.admin.AdminQnaController"
		p:memberDao-ref="memberDao"
		p:boardDao-ref="boardDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminBoardController"
		class="com.xwin.web.controller.admin.AdminBoardController"
		p:memberDao-ref="memberDao"
		p:boardDao-ref="boardDao"
		p:adminDao-ref="adminDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminStatisticsController"
		class="com.xwin.web.controller.admin.AdminStatisticsController"
		p:memberDao-ref="memberDao"
		p:bettingDao-ref="bettingDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminTransactionController"
		class="com.xwin.web.controller.admin.AdminTransactionController"
		p:memberDao-ref="memberDao"
		p:moneyInDao-ref="moneyInDao"
		p:moneyOutDao-ref="moneyOutDao"
		p:transactionDao-ref="transactionDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminLogController"
		class="com.xwin.web.controller.admin.AdminLogController"
		p:hackingLogDao-ref="hackingLogDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
</beans>