<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">  
		<property name="basenames">  
			<list>  
				<value>message</value>  
				<value>message</value>  
			</list>  
		</property>  
	</bean>	
		    
	<bean id="munjaBadaConnector" class="com.xwin.infra.sms.MunjaBadaConnector">
		<property name="userId" value="vegas5004"/>
		<property name="password" value="5004369"/>
		<property name="returnUrl" value="bet-love.com/munja.aspx"/>
	</bean>
	
			    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao">
		<property name="getUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01065591482&LogTime=20081007154021&ClientIP=10.100.29.205&MagicN_Id=Y2hsdGpyZ2g1OQ==&ALevel=2&boxType=1&pagesize=100&curpage=1]]></value>	
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01043047455&LogTime=20081223164711&ClientIP=123.228.71.244&MagicN_Id=YW5ycmtmbDExMTE=&ALevel=2&boxType=1&pagesize=100&curpage=1]]></value>
			</list>
		</property>
		<property name="delUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01065591482&LogTime=20081007154021&ClientIP=10.100.29.205&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>	
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01043047455&LogTime=20081223164711&ClientIP=123.228.71.244&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
			</list>
		</property>
	</bean>
</beans>