<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao" />
	
	<!--
	<bean id="leagueService" class="com.xwin.service.sports.LeagueService"
		p:leagueDao-ref="leagueDao" />
			
	<bean id="gameWdlService" class="com.xwin.service.sports.GameWdlService"
		p:gameWdlDao-ref="gameWdlDao" />
	
	<bean id="userService" class="com.xwin.service.user.UserService"
		p:userInfoDao-ref="userInfoDao"/>
		
	<bean id="eventService" class="com.xwin.service.sports.EventService"
		p:eventDao-ref="eventDao"/>
	  -->
</beans>