<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="adminController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="admin/admin"/>
			  
	<bean id="ktfSmsController" class="com.xwin.web.controller.KtfSmsController"
		p:ktfSmsConnector-ref="ktfSmsConnector"/>
	
	<bean id="eventController" class="com.xwin.web.controller.sports.EventController"/>
		
	<bean id="gameWdlController" class="com.xwin.web.controller.sports.GameWdlController"/>
	
	<bean id="createLeagueController" class="com.xwin.web.controller.sports.LeagueController"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="leagueController" class="com.xwin.web.controller.sports.LeagueController"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="manageGameWdlController" class="com.xwin.web.controller.admin.ManageGameWdlController"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="indexController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="index"/>
		
	<bean id="manageEventController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="admin/manageEvent"/>
	
	<bean id="joinMemberController"
		class="com.xwin.web.controller.user.JoinMemberController"
		p:methodNameResolver-ref="controllerNameResolver"
		p:memberDao-ref="memberDao"/>
		
	<bean id="loginController"
		class="com.xwin.web.controller.user.LoginController"
		p:methodNameResolver-ref="controllerNameResolver"
		p:memberDao-ref="memberDao"/>	
			
	<bean id="controllerNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver"
		p:paramName="mode"/>
</beans>