<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ktfSmsController" class="com.xwin.web.controller.KtfSmsController"
		p:ktfSmsConnector-ref="ktfSmsConnector"/>
	
	<bean id="gameController" class="com.xwin.web.controller.game.GameController"
		p:gameDao-ref="gameDao"
		p:leagueDao-ref="leagueDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="indexController" class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		p:viewName="index"/>
		
	<bean id="joinMemberController"
		class="com.xwin.web.controller.user.JoinMemberController"
		p:memberDao-ref="memberDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="loginController"
		class="com.xwin.web.controller.user.LoginController"
		p:memberDao-ref="memberDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="bettingController"
		class="com.xwin.web.controller.game.BettingController"
		p:memberDao-ref="memberDao"
		p:bettingDao-ref="bettingDao"
		p:betGameDao-ref="betGameDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="adminController"
		class="com.xwin.web.controller.admin.AdminController"
		p:memberDao-ref="memberDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
	
	<bean id="adminBettingController"
		class="com.xwin.web.controller.admin.AdminBettingController"
		p:bettingDao-ref="bettingDao"
		p:betGameDao-ref="betGameDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminGameController"
		class="com.xwin.web.controller.admin.AdminGameController"
		p:gameDao-ref="gameDao"
		p:leagueDao-ref="leagueDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
		
	<bean id="adminMemberController"
		class="com.xwin.web.controller.admin.AdminMemberController"
		p:memberDao-ref="memberDao"
		p:methodNameResolver-ref="controllerNameResolver"/>
			
	<bean id="controllerNameResolver"
		class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver"
		p:paramName="mode"/>
</beans>