<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao" />
		
	<bean id="moneyInService" class="com.xwin.service.admin.MoneyInService"
		p:accountDao-ref="accountDao"
		p:moneyInDao-ref="moneyInDao"
		p:memberDao-ref="memberDao"
		p:ktfSmsDao-ref="ktfSmsDao"/>
</beans>