<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">  
		<property name="basenames">  
			<list>  
				<value>message</value>  
				<value>message</value>  
			</list>  
		</property>  
	</bean>	
		    
	<bean id="munjaBadaConnector" class="com.xwin.infra.sms.MunjaBadaConnector">
		<property name="userId" value="qnwk"/>
		<property name="password" value="qnwkdhkd"/>
		<property name="returnUrl" value="bethit.net:10180/munja.aspx"/>
	</bean>
	
			    
	<bean id="ktfSmsConnector" class="com.xwin.infra.sms.KtfSmsConnector"
		p:ktfSmsDao-ref="ktfSmsDao">
		<property name="getUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_List.asp?UserTel=01067242322&LogTime=20090213142435&ClientIP=10.21.49.124&MagicN_Id=cW53a2Roa2Q=&&ALevel=2&boxType=1&pagesize=100&curpage=1]]></value>
			</list>
		</property>
		<property name="delUri">
			<list>
				<value><![CDATA[http://msgmgr.show.co.kr/Application/ASP/PremMessenger20/MsgrMsgBox_Del.asp?UserTel=01067242322&LogTime=20090213142435&ClientIP=10.21.49.124&IsALL=N&boxType=1&ALevel=1&targetMsg=]]></value>
			</list>
		</property>
	</bean>
</beans>