@charset "utf-8"

BODY { 
	margin:0; 
	background-color:#282828;
	cursor:default; 
	font-size:13px; color:#b0b0b0;
	text-align:center;

	scrollbar-3dlight-color:#333333;
	scrollbar-arrow-color:#428ECE;
	scrollbar-track-color:#333333;
	scrollbar-darkshadow-color:#333333;
	scrollbar-face-color:#EFEFEF;
	scrollbar-highlight-color:#333333;
	scrollbar-shadow-color:#333333;
}

p,span,table,tr,td {
	cursor:default; 
	font-family:돋움,Arial Black;
	font-size:13px; color:#b0b0b0; 
}

A:link    { font-family:돋움,Arial Black;  font-size:13px; color:#b0b0b0; text-decoration:none;}
A:visited { font-family:돋움,Arial Black;  font-size:13px; color:#b0b0b0; text-decoration:none;}
A:active  { font-family:돋움,Arial Black;  font-size:13px; color:#b0b0b0; text-decoration:none;}
A:hover   { font-family:돋움,Arial Black;  font-size:13px; color:#b0b0b0; text-decoration:underline; }

form {margin:0;}
input.member,select.member { 
	Background-Color:Black; 
	font-family:돋움,Arial Black; 
	font-size:13px;color:white;  height:19px; border:1 solid #555555; 
}
