/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

div.pages {
	width:100%;
	text-align: center;
}
table.prettytable {
  width: 100%;
  margin: 1em 1em 1em 2em;
  background: whitesmoke;
  border-collapse: collapse;
}
table.prettytable th {
  border: 1px silver solid;
  padding: 0.2em;
  text-align: center;
  font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
  background: gainsboro;
}
table.prettytable td {
  border: 1px silver solid;
  padding: 0.2em;
  text-align: center;
  font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
}

table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
}

body {
	margin: 20px;
	padding: 0;
	background: #FFFFFF;
	font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #333333;
}

p, blockquote, ol, ul {
	line-height: 160%;
}

a {
	color: #3A69BA;
}

a:hover {
	text-decoration: none;
}

/* Boxed */

.boxed {
	float: left;
	clear: left;
	width: 200px;
	margin: 0 0 10px 0;
	padding: 0;
	background: #DEE2E8;
}

.boxed .heading {
	margin-top: 0;
	padding: 8px 15px;
	background: #5E80BD no-repeat center bottom;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
}

.boxed .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

.boxed ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed li {
	padding: 3px 0;
	border-top: 1px dotted #1F1F21;
}

.boxed li.first {
	border: none;
}

.boxed a {
	padding-left: 10px;
	background: url(images/img4.gif) no-repeat left center;
	text-decoration: none;
}

/* Wrapper */

#wrapper {
	width: 1178px;
	margin: 0 auto;
}

/* Header */

#header {
	float: left;
	width: 200px;
	height: 50px;
	background: orange;
}

#header h1 {
	margin: 0;
	padding: 13px 0 0 0;
	text-align: center;
	letter-spacing: -1px;
	font-size: 2.5em;
}

#header h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}

#header a {
	text-decoration: none;
	color: #000000;
}

/* Pages */

#pages {
	float: right;
	width: 968px;
	height: 50px;
	background: #EEEEEE;
}

#pages h2 {
	display: none;
}

#pages ul {
	float: right;
	margin: 0;
	padding: 25px 15px 0 0;
	list-style: none;
	line-height: normal;
}

#pages li {
	display: inline;
}

#pages a {
	padding-left: 2em;
	text-decoration: none;
	font: bold 2em Tahoma, Arial, Helvetica, sans-serif;
	color: red;
}

#pages a:hover {
	text-decoration: underline;
}

/* Content */

#content {
	clear: both;
	padding-top: 10px;
}

/* Posts */

#posts {
	float: right;
	width: 920px;
	padding-right: 20px;
}

.post {
	padding-top: 10px;
}

.post .title {
	margin: 0;
	font-size: 2em;
	font-weight: 900;
	font-fami	ly: 'µ¸¿ò';
	padding-bottom: 20px;
}

.post .posted {
	margin-top: 0;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

.post .meta {
	margin: 2em 0 3em 0;
	border-top: 1px dotted #939A3C;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

.post .meta p {
	margin: 0;
}

/* Archives */

#archives {
}

/* Search */

#search {
}

#search .content {
	padding-bottom: 12px;
}

#textfield1 {
	width: 156px;
	padding: 5px 5px;
	border: 1px solid #000000;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
}

#submit1 {
	display: none;
}

/* Footer */

#footer {
	text-align: center;
	clear: both;
	border-top: 1px dotted #000000;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

#footer a {
	color: #999999;
}