/* CSS Document */

SELECT  {background-color : #ffffff;}

   BODY {
        margin-left:  0;
        margin-top:   0;
        margin-right: 0;
        margin-bottom: 0;
        font-size: 9pt;
        font-family: "µ¸¿ò,µ¸¿òÃ¼";
		color: #3D3D3D;
		line-height: 18px;
		
		scrollbar-3dlight-color:595959;
	    scrollbar-arrow-color:7F7F7F;
	    scrollbar-base-color:CFCFCF;
	    scrollbar-darkshadow-color:FFFFFF;
	    scrollbar-face-color:DFDFDF;
	    scrollbar-highlight-color:FFFFF;
	    scrollbar-shadow-color:595959
		
    }
    TD, TH, DIV {
        font-family: "µ¸¿ò,µ¸¿òÃ¼";
        font-size: 9pt;
		color: #3D3D3D;
		
    }

    INPUT, TEXTAREA {
        font-family: "µ¸¿ò,µ¸¿òÃ¼";
        font-size: 9pt;
		color: #3D3D3D;
    }
	
A:link {color:#3D3D3D;;text-decoration:none} 
A:visited {color:#3D3D3D;;text-decoration:none} 
A:active {color:#3D3D3D;} 
A:hover {color:#0C75E0;text-decoration:none} 
 
.box {font-size: 9pt; border:1 solid #CDCDCD;background-color:white;  } 
.nonbox {font-size: 9pt; border:0 solid #999999;background-color:white;  } 
.radio {font-size: 9pt; border:0 solid #999999;background-color:white;  } 
.text {font-size: 9pt; border:1 solid #999999;}
.select {font-size: 9pt; border:0 solid #999999;}
.outset {font-size:9pt;border:1 outset #ffffff;}.fontsiz8 {
	font-size: 11px;
}
.sub_menu_left {  font-family:,µ¸¿ò; font-size: 17px; color: #000000; text-decoration: none; font-weight : bold;}
.sub_tit {  font-family:,µ¸¿ò; font-size: 15px; color: #ffffff; text-decoration: none; font-weight : bold;}
.sub_menu {  font-family:,µ¸¿ò; font-size: 11px; color: #4073CA; text-decoration: none; font-weight : bold;}
a.menu:link 		{ FONT-SIZE: 11px; TEXT-DECORATION: none; color:#000000 ; font-weight : bold;}
a.menu:visited 		{ FONT-SIZE: 11px; TEXT-DECORATION: none; color:#000000; font-weight : bold;}
a.menu:active 		{ FONT-SIZE: 11px; TEXT-DECORATION: none; color:#000000; font-weight : bold;}
a.menu:hover 		{ FONT-SIZE: 11px; TEXT-DECORATION: none; color:#BA344D ; font-weight : bold;}
