/* ============================================================
'
'		ÆäÀÌÁö¸í	: Default.css
'		¼³¸í		: Default CSS
'
'		ÀÛ¼ºÀÏ	: 2003. 04. 17.
'		ÀÛ¼ºÀÚ	: ÀÌÀºÇÐ
'
============================================================ */

BODY,TD,SELECT,DIV,TEXTAREA,center {color:666666;font-size:9pt;line-height:150%;}

P,blockquote,td,br, {font-size:9pt}

A:link {text-decoration:none; color:#666666; font-size:9pt;}

A:visited {text-decoration:none; color:#666666; font-size:9pt;}

A:hover {color:#DF487D; text-decoration:underline; font-size:9pt;}





.tdheight{
line-height:14px; font-family:µ¸¿ò;FONT-SIZE:8pt;letter-spacing:-1
}


/* °¢Á¾Æû */
.simpleform_login {font: 9pt ±¼¸²; line-height:120%; BACKGROUND-COLOR:#ffffff; COLOR:#888888; BORDER:1x solid #B4A79D}
.simpleform{font: 9pt ±¼¸²; line-height:120%; BACKGROUND-COLOR:#F9F9F9; COLOR:#888888; BORDER:1x solid #CCCCCC}
.text		{ font-family:µ¸¿ò; font-size:8pt; color:#888888; background-color:#F9F9F9; border-width:1; border-color:#CCCCCC; border-style:solid; height:18; padding-top : 3px;}
textarea	{ font-family:µ¸¿ò; font-size:9pt; color:#888888; background-color:#FFFFFF; border-width:1; border-color:#CCCCCC; border-style:solid; padding : 3px;scrollbar-3dlight-color:#D3DADC; scrollbar-arrow-color:#FFFFFF;	scrollbar-base-color:#D3DADC; scrollbar-darkshadow-color:#D3DADC; scrollbar-face-color:#D3DADC;	scrollbar-highlight-color:#FFFFFF; scrollbar-shadow-color:#FFFFFF; }
.password	{ font-family:µ¸¿ò; font-size:8pt; color:#888888; background-color:#F9F9F9; border-width:1; border-color:#CCCCCC; border-style:solid; height:18; padding-top : 3px;}
.file		{ font-family:µ¸¿ò; font-size:8pt; color:#888888; background-color:#FFFFFF; border-width:1; border-color:#8E908E; border-style:solid; padding-top : 3px;}
.select		{ font-family:µ¸¿ò; font-size:8pt; color:#888888; background-color:#FFFFFF; border-width:1; border-color:#CFD6D8; border-style:solid;height:18;}
.button		{ font-family:verdana; font-size:7pt; color:#888888; background-color:#D8D8D8; border-width:1; border-color:#AAAAAA; }

/*·Î±×ÀÎ */
.small  	{ font-size:11px; font-family:µ¸¿ò; color:#2D2D2D;  padding-top:2px;}

/*ÆùÆ®Ä®¶ó */
.black {font-family:µ¸¿ò;FONT-SIZE: 8pt;color:#141414;}
.pink{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:#AE3767;letter-spacing:-1}
.pink_b{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:#AE3767; font-weight:bold}
.orange_b{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:#ff6600; font-weight:bold}
.blue_b{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:#2E58B9; font-weight:bold}
.blue{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:#2E58B9;}
.green{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:4B7B7A;letter-spacing:-1}
.wine{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:50347A; }
.text_bold{font-family:µ¸¿ò;FONT-SIZE: 9pt;color:CC3300; font-weight:bold}

a.black {font-family:µ¸¿ò;FONT-SIZE: 8pt;color:#141414;}
a.black:link    {color:141414; font-size:8pt; font-family:±¼¸²,Tahoma; text-decoration:none;} /* default txt */ 
a.black:visited {color:141414; font-size:8pt; font-family:±¼¸²,Tahoma; text-decoration:none;} 
a.black:hover   {color:141414; font-size:8pt; font-family:±¼¸²,Tahoma; text-decoration:underline;} 
.ggambo_textarea2 {border:solid 1;border-color:#CCCCCC;font-size:9pt;color:#888888;background-color:F9F9F9;word-break:break-all;width:100%;height:46px;line-height:160%;padding:1 3 1 3;overflow:visible;text-overflow:ellipsis; }
img {border:0}