body {
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	font-family: µ¸¿ò;
	color: #FFFFFF;
}
table, td, div, form, center, pre, blockquote
{ 
	FONT-FAMILY: µ¸¿ò; FONT-SIZE: 12px;
	line-height: 18px;
	color: #FFFFFF;
}



<!--	///////////////////////////////// NOE TYPE /////////////////////////////////////////////-->

.btn 	{ BACKGROUND-COLOR:#00525C; BORDER-RIGHT: #98B5B7 1px solid; BORDER-TOP: #98B5B7 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #98B5B7 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #98B5B7 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:22; }

.btn1 	{ BACKGROUND-COLOR:#DBA300; BORDER-RIGHT: #BA8B00 1px solid; BORDER-TOP: #BA8B00 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #BA8B00 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #BA8B00 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20; }

.btn2 	{ BACKGROUND-COLOR:#98B5B7; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20; }

.btn3 	{ HEIGHT:20; COLOR:#FFFFFF; CURSOR:hand; FONT-SIZE:12px; FONT-WEIGHT:BOLD; BACKGROUND-COLOR:#98B5B7; BORDER-WEIGHT:1;}

.btn4 	{ BACKGROUND-COLOR:#90D133; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #999999 1px solid; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20;}

.btn5 	{ BACKGROUND-COLOR:#333333; BORDER-RIGHT: #B966FF 1px solid; BORDER-TOP: #B966FF 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #B966FF 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #B966FF 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20;}

.btn6 	{ BACKGROUND-COLOR:#333333; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #FFFFFF 1px solid; COLOR: #FFC700; BORDER-BOTTOM: #FFFFFF 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20;}

.btn7 	{ BACKGROUND-COLOR:#333333; BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #484848 1px solid; BORDER-BOTTOM: #484848 1px solid; COLOR: #AFAFAF;  FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20;}

.btn8 	{ BACKGROUND-COLOR:#101410; BORDER-RIGHT: #313431 1px solid; BORDER-TOP: #313431 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #313431 1px solid; BORDER-BOTTOM: #313431 1px solid; COLOR: #AFAFAF;  FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20;}

.btn9 	{ BACKGROUND-COLOR:#101410; BORDER-RIGHT: #313431 1px solid; BORDER-TOP: #313431 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #313431 1px solid; BORDER-BOTTOM: #313431 1px solid; COLOR: #AFAFAF;  FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:11px; }

.btn10 	{ BACKGROUND-COLOR:#525552; BORDER-RIGHT: #8C928C 1px solid; BORDER-TOP: #8C928C 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8C928C 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #8C928C 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; HEIGHT:20; }

.btn11 	{ BACKGROUND-COLOR:#4A494A; BORDER-RIGHT: #A5AAA5 1px solid; BORDER-TOP: #A5AAA5 1px solid; BORDER-LEFT: #A5AAA5 1px solid; BORDER-BOTTOM: #A5AAA5 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; COLOR: #FFC700; HEIGHT:30; WIDTH:100;}

.btn12 	{ BACKGROUND-COLOR:#FF5100; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-BOTTOM: #FFFFFF 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; COLOR: #FFFFFF; HEIGHT:30; WIDTH:100;}

.btn13 	{ BACKGROUND-COLOR:#4A494A; BORDER-RIGHT: #A5AAA5 1px solid; BORDER-TOP: #A5AAA5 1px solid; BORDER-LEFT: #A5AAA5 1px solid; BORDER-BOTTOM: #A5AAA5 1px solid; FONT-WEIGHT:BOLD; CURSOR:hand; FONT-SIZE:12px; COLOR: #FFFFFF; HEIGHT:30; WIDTH:100;}


.input 	{ BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #F2F8FB}

.input1	{ BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #ffffff}

.input2	{ BORDER-RIGHT: #BDBEBD 1px solid; BORDER-TOP: #BDBEBD 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #BDBEBD 1px solid; COLOR: #585858; BORDER-BOTTOM: #BDBEBD 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #F7F7F7}

.input3	{ BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #585858; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: "µ¸¿ò"; HEIGHT: 18px; BACKGROUND-COLOR: #f0f0f0}

.input4	{ BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #585858; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #f0f0f0}

.input5	{ BORDER-RIGHT: #BABABA 1px solid; BORDER-TOP: #BABABA 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #BABABA 1px solid; COLOR: #000000; BORDER-BOTTOM: #BABABA 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #FFFFFF}

.input6	{ BORDER-RIGHT: #BDBEBD 1px solid; BORDER-TOP: #BDBEBD 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #BDBEBD 1px solid; COLOR: #000000; BORDER-BOTTOM: #BDBEBD 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #F7F7F7}

.input7	{ FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #F7F7F7}

.input8	{ BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #FFFFFF}

.input9	{ BORDER-RIGHT: #EFEFEF 1px solid; BORDER-TOP: #EFEFEF 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #EFEFEF 1px solid; COLOR: #000000; BORDER-BOTTOM: #5F9F27 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #FFFFFF}

.input10 { BORDER-RIGHT: #C57373 1px solid; BORDER-TOP: #C57373 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #C57373 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #C57373 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #5A0808}

.input11 { BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #484848 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #484848 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #333333}

.input14 { BORDER-RIGHT: #484848 1px solid; BORDER-TOP: #484848 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #484848 1px solid; COLOR: #FFFFFF; BORDER-BOTTOM: #484848 1px solid; FONT-FAMILY: "µ¸¿ò"; BACKGROUND-COLOR: #333333; HEIGHT:22}


.select	{font-family: "µ¸¿ò";BACKGROUND: #CEC5DE; FONT:9pt; COLOR:#000000;}

.select1 {border:1px solid #455F83;background-color:#000000;COLOR:#FFFFFF; border-color:#484848}

.select2 {position:absolute;left:-1px;top:-1px;}

.tbboard { BORDER:5px solid AFCCCE; BORDER-STYLE:outset}

.tbboard1 {BORDER:5px solid #74A6AB ;BORDER-STYLE:outset}

img { border:0 }


textarea 	{background-color:#333333; border:1 solid #BDBEBD;}
.textarea1 	{background-color:#333333; border:1 solid #BDBEBD;color:#FFFFFF }

.textarea2 {background-color:#8C928C;border:1 solid #8C928C; }

<!--	///////////////////////////////// NOE TYPE /////////////////////////////////////////////-->