A  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	text-decoration : underline;
	font-weight : bold;
	color : #1D4D7C;}

A:Visited  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	text-decoration : underline;
	font-weight : bold;
	color : #1D4D7C;}

A:Active  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	text-decoration : underline;
	font-weight : bold;
	color : #9EADC6;}

A:Hover  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	text-decoration : none;
	font-weight : bold;
	color : #9EADC6;}
	
.LinkFooter  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Visited  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Active  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #FFFFFF;}

.LinkFooter:Hover  {
	font-size : 9px;
	font-family : Verdana, Arial, Geneva;
	font-weight : bold;
	color : #F7D755;}

TEXTAREA, SELECT  {
	font-size : 11px;
	font-family : Verdana, Arial, Geneva;
	background-color:#FAFAFA;
	:border: 1px solid Gray;
	color : #1D4D7C;}

HR  {
	height : 1px; 
	color : #333333;}
