#tableContainer {
	margin-bottom: 5px;
	border: 1px solid #000000;
	padding: 2px;
	background-color: #fff;
}
#tableContainer table {
	/*border-bottom: 1px solid #000;*/
	border: none;
	background-color: #fff;
}
#tableContainer thead tr {
    background-color: #ccdcce;
}
#tableContainer th {
	cursor:pointer;
}
#tableContainer tbody {
	background-color: #fff;
}
#tableContainer td {
    padding: 5px 4px 2px 4px;
}
#tableContainer tr.even {
    background-color: #fff;
}
#tableContainer tr.odd {
    background-color: #eef
}


#tableHolder {
	margin-bottom: 0px;
	margin-bottom: 5px;
	border: 1px solid #000000;
	padding: 2px;
	background-color: #fff;
}
#tableHolder table {
	/*border-bottom: 1px solid #000;*/
	border: none;
	background-color: #fff;
}
#tableHolder thead tr {
    background-color: #ccdcce;
}
#tableHolder th {
	cursor:pointer;
	text-align: left;
	padding: 2px 4px 2px 4px;
	color: #000;
	font-size: 11px;
	font-family: Verdana, Geneva,  Arial, Helvetica, sans-serif;
}
#tableHolder tbody {
	background-color: #fff;
}
#tableHolder td {
    padding: 2px 2px 2px 2px;
}
#tableHolder tr.even {
    background-color: #fff;
}
#tableHolder tr.odd {
    background-color: #eef
}

#defTableHolder {
	margin: 0px;
	margin-bottom: 5px;
	border: 1px solid #000000;
	padding: 2px;
	background-color: #fff;
}
#defTableHolder table {
	/*border-bottom: 1px solid #000;*/
	border: none;
	background-color: #fff;
}
#defTableHolder thead tr {
    background-color: #ccdcce;
}
#defTableHolder th {
	cursor:pointer;
	text-align: left;
	padding: 2px 4px 2px 4px;
	color: #000;
	font-size: 11px;
	font-family: Verdana, Geneva,  Arial, Helvetica, sans-serif;
}
#defTableHolder tbody {
	background-color: #fff;
}
#defTableHolder td {
    padding: 2px 2px 2px 2px;
    font-size: 11px;
    font-family: Verdana, Geneva,  Arial, Helvetica, sans-serif;
}
#defTableHolder tr.even {
    background-color: #fff;
}
#defTableHolder tr.odd {
    background-color: #eef
}

