<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">    
	
	<bean id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="WEB-INF/sqlMap/sqlMapConfig.xml">
	</bean>
	
	<bean id="sqlMapClientTemplate"
		class="org.springframework.orm.ibatis.SqlMapClientTemplate"
		p:sqlMapClient-ref="sqlMapClient" />
	
	<bean id="ktfSmsDao"
		class="com.xwin.infra.dao.KtfSmsDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="leagueDao"
		class="com.xwin.infra.dao.LeagueDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="gameDao"
		class="com.xwin.infra.dao.GameDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="bettingDao"
		class="com.xwin.infra.dao.BettingDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="betGameDao"
		class="com.xwin.infra.dao.BetGameDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />		
	
	<bean id="memberDao"
		class="com.xwin.infra.dao.MemberDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="boardDao"
		class="com.xwin.infra.dao.BoardDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="moneyInDao"
		class="com.xwin.infra.dao.MoneyInDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="moneyOutDao"
		class="com.xwin.infra.dao.MoneyOutDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="moneyInOutDao"
		class="com.xwin.infra.dao.MoneyInOutDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />	
		
	<bean id="bankBookDao"
		class="com.xwin.infra.dao.BankBookDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="accountDao"
		class="com.xwin.infra.dao.AccountDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />	
		
	<bean id="pointDao"
		class="com.xwin.infra.dao.PointDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />	
	
	<bean id="accessDao"
		class="com.xwin.infra.dao.AccessDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="adminDao"
		class="com.xwin.infra.dao.AdminDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
	
	<bean id="smsWaitDao"
		class="com.xwin.infra.dao.SmsWaitDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="transactionDao"
		class="com.xwin.infra.dao.TransactionDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="memoDao"
		class="com.xwin.infra.dao.MemoDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="hackingLogDao"
		class="com.xwin.infra.dao.HackingLogDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
		
	<bean id="invitationDao"
		class="com.xwin.infra.dao.InvitationDao"
		p:sqlMapClientTemplate-ref="sqlMapClientTemplate" />
</beans>